.vs/**/*
OrdenamientoMultihilo/.vs/**/*
OrdenamientoMultihilo/bin/**/*
OrdenamientoMultihilo/obj/**/*
OrdenamientoMultihilo.Library/.vs/**/*
OrdenamientoMultihilo.Library/bin/**/*
OrdenamientoMultihilo.Library/obj/**/*