<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Conexión a MySQL Server (bd_login) -->
    <add name="MySqlLoginConnection"
         connectionString="Server=localhost;Database=bd_login;Uid=root;Pwd=1234;"
         providerName="MySql.Data.MySqlClient" />

    <!-- Conexión a SQL Server Express (bd_ventas) -->
    <add name="SqlServerVentasConnection"
         connectionString="Data Source=localhost\\SQLEXPRESS;Initial Catalog=bd_ventas;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
